.personal-bg {
    background-color: #0277bdff;
}

.leftcol-bg {
    background-color:#ecececff;
}

.trans {
    background-color: transparent;
}

.activelist {
    background-color: #0277bdff;
    color: white;
}

.radius {
    background-color: #0277bdff;
    color: white;
    position:fixed;
    right:0.5rem;
    bottom:0.5rem;
}

.read {
    color: #d50000ff;
}


.user-icon {
    position:fixed;
    right:0.7rem;
    top:0.7rem;
}